.event-container{
    color: $primatyColorBlue;
    & .close-btn {
        text-align: end;
        font-size: 22px;
        cursor: pointer;
    }
    & h1 {
        text-align: center;
        letter-spacing: 1px;
        font-size: 22px;
        font-weight: 700;      
    }
    & .event-form {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin: auto;
        & input[type=text]{
            padding: 15px 15px 2px 5px;
            margin-bottom: 10px;
            border: none;
            outline: none;
            border-bottom: 2px solid $primatyColorOrange;
        }
        & div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            input[type="date"],
            input[type='number'] {
                text-align: center;
                width: 48%;
                background-color:transparent;
                border: none;
                border-bottom: 2px solid $primatyColorOrange;
                padding: 15px 5px 2px 5px;
                margin-bottom: 10px;
                outline: none;
            }
            input[type='number']{
                padding: 19px 5px 2px 5px;
            }
        }
        & input[type=submit]{
            margin: 15px 0;
            padding: 12px;
            border-radius: 15px;
            background-color: transparent;
            outline: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
            color: $primatyColorOrange;
            border: 2px solid $primatyColorOrange;
            box-shadow: 3px 2px 5px 0px #002141;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:hover{
                color: $primatyColorBlue;
                border: 2px solid $primatyColorBlue;
            }
        }
    }
}

@media (max-width: 420px) {
    .event-container{
        & .event-form {
            width: 90%;
        }
    }
}