@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

$primatyColorOrange: #F17300;
$primatyColorBlue: #002141;